<% include partials/header %>

<div class="ui main text container">
    <div class="ui huge header">
        <h1>Latest Posts</h1>
    </div>
    <div class="ui top attached segment">
        <div class="ui divided relaxed items">
        <!--Loop through and display blog post-->
        <% blogs.forEach( blog => { %>
            <div class="item">
                <div class="content">
                    <a class="header" href="/blogs/<%= blog._id %>"><%= blog.title %></a>
                    <div class="meta">
                        <span>Written on <%= blog.created.toDateString() %></span>
                    </div>
                </div>
              
                <div class="image">
                    <img src="<%= blog.image %>" alt="some alt tag" class="ui rounded medium image">
                </div>
                <div class="description">
                    <!--use <%- %> to get back sanitized HTML-->
                    <p><%- blog.content.substring(0, 100) %> ... </p>
                </div>
                <div class="extra">
                    <a class="ui button floated basic purple" href="/blogs/<%= blog._id %>">Read more</a>
                </div>
            </div>
        <% }); %>
        </div>
    </div>
</div>



<% include partials/footer %>






